
            <form method="post" action="/addItem" enctype="multipart/form-data">
                <h1>Añadir nuevo producto:</h1>
                <div class="formRow">Nombre: <input type="text" name="nombre" /></div>
                <div class="formRow">Precio: <input type="text" name="precio" /></div>
                <div class="formRow">Descripción: <textarea type="text" name="descripcion"></textarea></div>
                <div class="formRow">Imagen:
                <input type="file" name="files" accept="img/*">
                </div>
                <div class="formRow"><input type="submit" value="Añadir"></div>
            </form>
