<!DOCTYPE html>
    <!--
    Aquest arxiu rep una llista amb noms de naus
    -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- A la capçalera no li fa falta cap informació, passem un objecte buit -->
        <%- include('../partials/head', {}); %>
        <title>Items</title>
        
    </head>
    <body>
        <div class="general">
            <div class="cabecera">
                <%- include('../partials/cabecera'); %>
            </div>
                <%- include('../partials/itemBody'); %>
        </div>
    </body>
</html> 